* {
  background-color: #eee;
  /*font-family: monospace;*/
}

body {
  margin: 16px;
}

.navigation {
  list-style: none;
}

.navigation > li {
  display: inline-block;
}

.navigation > li > a {
  color: #0000ff;
}

.timeline {
  list-style: none;
}

.timeline > li {
  display: inline-block;
}

ul {
  list-style: none;
}
